body {
    font-family: 'Lato', sans-serif;
    color: #41434A;
}

h1 {
    font-size: 3.5em;
    letter-spacing: 10px;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 5rem;
    padding-top: 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
}

.hero {
    max-width: 100%;
    background: url("img/bg.jpg") no-repeat center center;
    background-size: cover;
    display: table;
    height: 100vh; 
    width: 100%;
}

.top-bar {
    background: #41434A;
    padding: 0rem;
    text-align: center;
    width: 100%;
    z-index: 999;
}

@media screen and (max-width: 39.9375em) {
    .top-bar {
        position: absolute; 
    }
}

.top-bar ul,
.title-bar {
    background: #41434A;
}

.title-bar {
    padding: 1rem;
}

.menu-icon {
    float: right;
    width: 25px;
}

.top-bar ul li {
    padding: 10px 40px 5px;
}

.top-bar ul li a {
    color: #F2F1E9;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.top-bar-right {
    display: inline-block;
    float: none;
}

.scroll {
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    bottom: 25px;
    color: #41434A;
    cursor: pointer;
    font-size: 2.5em;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
}

@keyframes arrow {
    0% {
        transform: rotate(45deg) translate3d(0);
    }
    50% {
        transform: translate3d(0px, 10px, 0);
    }
    100% {
        transform: rotate(45deg) translate3d(0);
    }
}

.hero-text {
    bottom: 0;
    height: 25%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    vertical-align: middle;
}

@media screen and (max-width: 39.9375em) {
    .hero-text {
        margin-top: 140px;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
}

.hero-text p {
    font-size: 26px;
    letter-spacing: 3px;
    margin: 15px 0;
}

.about {
    background-color: #f1f1f1;
}

.about-intro {
    font-size: 26px;
    letter-spacing: 3px;
    padding-bottom: 30px;
    padding-top: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.about-description {
    font-size: 18px;
    text-align: center;
    margin: 0 20%;
    padding-bottom: 5rem;
}

.projects {
    background-color: #FFF;
    padding-bottom: 5rem;
}

.project {
    padding-bottom: 5rem;
}

@media screen and (max-width: 39.9375em) {
    .projects {
        text-align: center;
    }
    
}

.project-title {
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

.projects button {
    background: #999999;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    text-transform: uppercase;
}

button a, button a:hover {
    color: #FFFFFF;
}

footer {
    background-color: #41434A;
    color: #F2F1E9;
    text-align: center;
}

.social-icons {
    margin-bottom: 5rem;
}

.social-icons ul {
    margin: 0;
    text-align: center;
}

.social-icons ul li {
    display: inline-block;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
}

.social-icons ul li a {
    color: #F2F1E9;
}

.social-icons ul li a:hover {
    color: #6E9489;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

footer p {
    font-size: 20px;
}

footer p span {
    color: #6E9489;
}

footer .copyright {
    color: #F2F1E9;
    font-size: 14px;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}